[2015-04-05 09:56] davsclaus opened #1 "Port fix #1900 from V1 to V2"
Git commit b766d97cf61ac1392a69b3457ee939ea8e54f5b6 from v1 to fix an issue in the dashboards

[2015-04-05 09:56] davsclaus commented on #1
Also the next commit - eg all for #1900 - a9ff0d88c64f861ae435af59271d0d4d445f1711

[2015-04-06 05:06] #1 closed, assigned to nobody

[2015-04-20 12:32] davsclaus opened #2 "Connect plugin - Preference dont work"
It shows no connect preference but keep showing the last page.

As from the screenshot then the last was AMQ

![screen shot 2015-04-20 at 2 34 33 pm](https://cloud.githubusercontent.com/assets/477100/7229992/ff95cb3a-e769-11e4-9330-eb7c29168ac4.png)

[2015-04-21 09:38] davsclaus commented on #2
Its a bit of a mystery as it has a html page that is intended for wiping the stored connections, but somehow its not shown

[2015-04-21 13:11] #2 closed, assigned to nobody

[2015-04-21 13:22] davsclaus opened #3 "Move jolokia preference to hawtio-jmx"
[15:19:00]  <gashcrumb>  davsclaus: hmm, now that I think about it, the jolokia preference page would probably be best suited to be in hawtio-jmx if you fancy porting that over
[15:19:19]  <gashcrumb>  the one that lets you tweak the jolokia settings

[2015-04-22 09:30] #3 closed, assigned to davsclaus

[2015-05-27 05:45] davsclaus opened #4 "JMX Plugin - Edit Charts has no buttons"
There is no buttons to save the edit which used to be there in 1.x

![edit-chart](https://cloud.githubusercontent.com/assets/477100/7829596/64bf05ca-0444-11e5-9878-1fc54a26b8ac.png)

[2015-05-27 05:46] davsclaus commented on #4
Ah the idea is that you select what you want and then click View Chart. I guess this is okay?

[2015-05-27 05:49] davsclaus opened #5 "JMX Plugin - Invoke JMX operation shows result in tiny window"
On the java lang threading mbean, there is a thread info operation you can get details for thread id 1, and then it returns

![screen shot 2015-05-27 at 7 52 32 am](https://cloud.githubusercontent.com/assets/477100/7829634/c644dc3e-0444-11e5-8f2e-a5e574fd3c4f.png)

And after manually resizing the window you can see the details

![screen shot 2015-05-27 at 7 53 29 am](https://cloud.githubuserconten

[2015-05-27 12:48] gashcrumb commented on #5
Seems like the codemirror widget isn't showing up properly when initially rendered, will take a look

[2015-05-27 12:49] davsclaus commented on #5
thanks, btw this UI could use a bit of love to make it nicer looking.

For example the jolokia uri path could be hidden by default, and then some kind of expander or button or something to show it.

[2015-05-27 13:07] gashcrumb commented on #5
Yeah, I wonder if the URL path is really even valid for any JMX operation that requires arguments to be honest.

[2015-05-27 13:19] #5 closed, assigned to gashcrumb

[2015-05-27 13:21] gashcrumb commented on #5
Let's open a new issue to tidy up the operation page.  I think we can switch it to the forms2 plugin, add some text and perhaps move the action buttons underneath the form so there's a better page flow perhaps?

[2015-05-27 13:23] gashcrumb opened #6 "jmx-plugin - tidy up JMX operation page"
The JMX operation page could use a bit of layout work.  Perhaps some descriptive text for starters explaining what the page does, maybe improve the list layout of the operations, etc.

Also the buttons that do stuff (execute, reset etc) for the form should maybe go underneath the form.  And the "Back" button could maybe just be a list icon.

[2015-05-27 13:26] #4 closed, assigned to nobody

[2015-05-27 13:28] gashcrumb opened #7 "jmx-plugin - Tidy up JMX attribute dialog"
The layout of this dialog could use some work, might just be a matter of switching it to the form2 plugin.  Also perhaps using hawtio-editor instead of the textarea for any json that shows up would be good.

[2015-05-27 18:13] gashcrumb commented on #6
@davsclaus, have worked over this page a bit, would love some feedback...

[2015-05-27 20:19] gashcrumb commented on #7
@davsclaus wouldn't mind some feedback on this change also, switched this dialog to hawtio-form-2 and reworked it a bit so the value is show via hawtio-editor, so big values are easier to look at.

[2015-05-28 07:49] davsclaus commented on #7
When I run hawtio-jmx locally with gulp, then I get javascript errors and the page cannot load

I did

git pull --rebase
bower update --force
gulp

And then open localhost:2772

![screen shot 2015-05-28 at 9 54 22 am](https://cloud.githubusercontent.com/assets/477100/7855046/dd27bd42-051e-11e5-8bb3-7d4681c4c3ef.png)

[2015-05-28 07:51] davsclaus commented on #7
I found this in jolokia 1.1 js

error proxying to "http://localhost:8282/hawtio/jolokia/": Error: connect ECONNREFUSED

I do not have any ENV setup that uses 8282 etc

davsclaus:~/workspace/hawtio-jmx (master)/$ export | grep 8282
davsclaus:~/workspace/hawtio-jmx (master)/$

[2015-05-28 07:53] davsclaus opened #8 "index.html has no closing meta tag"
This tag has no closing tag
https://github.com/hawtio/hawtio-jmx/blob/master/index.html#L7

I assume it should just be <meta ... />

And it would be the same fix in the other hawtio modules?

@gashcrumb - would that be right?

[2015-05-28 10:54] gashcrumb commented on #8
Closing tag isn't required there.  In html closing tags are optional for a
lot of elements,  unlike xml.

On Thu, May 28, 2015, 3:53 AM Claus Ibsen notifications@github.com wrote:

[2015-05-28 10:57] gashcrumb commented on #7
Have you tried clearing your local storage by any chance?

On Thu, May 28, 2015, 3:51 AM Claus Ibsen notifications@github.com wrote:

[2015-05-28 12:50] davsclaus commented on #7
Yes its still the same problem. I havent found a nice ui in chrome so I clear from the js console

[code]

[2015-05-28 12:51] davsclaus commented on #8
Okay if it does not hurt then its maybe nice to add em as I see validation errors in various web browsers such as firefox etc.

[2015-05-28 12:53] gashcrumb commented on #7
So when running 'gulp' the gulpfile sets up a proxy for /jolokia, it's set up out of the box to hit an instance started from "hawtio-web" in the hawtio 1.x branch via "mvn exec java -DstartLR=false".

Let me see if I can tidy up that error a bit now that I can see what's going on :-)  Was just going to post that I haven't been able to reproduce it...

[2015-05-28 12:55] davsclaus commented on #7
Ah yeah I found the port 8282 which was hardcoded in the gulp settings file. So I kind though that that a Java JVM was needed to run along side.

Though I recall using hawtio-jmx in the past without having a JVM running.

[2015-05-28 13:02] gashcrumb commented on #7
Yeah, you should be able to and then use the connect dialog...  about to push a fix for it + some improved logging.  BTW, the local storage reset button is back in the preferences.

[2015-05-28 13:06] gashcrumb commented on #7
@davsclaus should be better now...

[2015-05-28 13:09] gashcrumb commented on #7
Hm, should probably not bother showing a jolokia url for any ObjectName attribute, those are calculated locally.

[2015-05-28 13:22] gashcrumb commented on #8
Yeah, wouldn't hurt.  A nice list of tags that are okay to have self-closing -> http://xahlee.info/js/html5_non-closing_tag.html

[2015-05-28 15:40] davsclaus commented on #7
+1 to not show the jolokia url - its more of a distraction for the end users / and maybe also a bit confusing for some users what it is.

[2015-05-28 15:54] davsclaus commented on #7
@gashcrumb this looks much better.

[2015-05-28 15:54] #7 closed, assigned to nobody

[2015-05-28 15:55] davsclaus commented on #6
super work @gashcrumb

[2015-05-28 15:55] #6 closed, assigned to nobody

[2015-05-28 16:00] #8 closed, assigned to nobody

[2015-09-10 12:46] gashcrumb opened #9 "Show a proper error dialog if the connection to jolokia fails"
For https://github.com/openshift/origin/issues/4612

We used to have this for 1.x, probably just wasn't brought over.

[2015-09-11 13:59] #9 closed, assigned to gashcrumb

[2015-09-14 10:08] rhuss opened #10 "Request 'X-Authorization' as allowed header in a CORS preflight check"
In order to be able to use the new header `X-Authorization` header in a CORS request it must be white listed by a preflight CORS request as described [here](http://www.w3.org/TR/cors/#cross-origin-request-with-preflight-0). I wonder, why `Authorization` works because this is also not a [simple header](http://www.w3.org/TR/cors/#simple-header) and hence must be white listed, too.

@cmoulliard ran i

[2015-09-14 13:37] gashcrumb commented on #10
Ah, this also requires the responding entity to reply back to the preflight request with `Access-Control-Allow-Headers` set to the same headers also to work -> http://stackoverflow.com/questions/8685678/cors-how-do-preflight-an-httprequest, wonder that might get broken by the proxy as well...  `<sigh>`

[2015-09-14 13:41] rhuss commented on #10
Jolokia is very liberal ;-) and always returns all requested headers but you are right, might be that the proxy is filtering this, too. I will check that ...

[2015-09-14 13:41] rhuss commented on #10
An option would be to put it into a 'simple header' but that definitely would be a dirty, dirty hack.

[2015-09-14 13:45] gashcrumb commented on #10
Yeah, wonder, maybe we can just get the proxy to not overwrite that, as that probably can break other apps too.

[2015-09-14 13:45] rhuss commented on #10
Well, we are probably [doomed](https://github.com/openshift/origin/blob/945fb793cf68ba3836a75239b14b05fcbe44427a/pkg/util/httpproxy/upgradeawareproxy.go#L251-L256) ;-(

'will now check, to which header the proxy itself sends back on a preflight check ...

[2015-09-14 13:46] gashcrumb commented on #10
`>ack<`

[2015-09-14 13:46] rhuss commented on #10
AFAIK the proxy is meant to filter all backend CORS headers ;-(

[2015-09-14 16:46] rhuss commented on #10
@dhirajsb we have a serious issue now, because the proxy filters the CORS respond for allowed headers (in fact it probably even answers the CORS preflight check on its own). That means we can't use  a custom header to transport the toke across the proxy and unforturnately there is currently no good solution.

I suggest we continue the discussion over within the original issue https://github.com/op

[2015-09-14 17:25] rhuss commented on #10
The proxy answers to the preflight check itself and returns the following allowed headers:

[code]

(where `Content-Type`  wouldn't be needed because its a [simple header](http://www.w3.org/TR/cors/#simple-header))

[2015-09-14 17:35] rhuss commented on #10
As mentioned on IRC the current trust relation between hawt.io and Jolokia is very weak and is only based on the availability of a certain port (8778). So even the solution with passing the token is not really secure. The only secure way would be the passing of a token from proxy to Jolokia which can be verified without a querying without a central service (i.e. with a signature a la json web toke

[2016-02-04 20:50] kwesterfeld opened #14 "Discovery of jolokiaUrl broken with jquery 2.1.*"
The interrogation of the jolokiaUrl is incorrect.  If the url returns a 403 or 401, on the jquery.$ajax() call, around line 607.....the code is incorrect for jquery 2.1.*.  Currently the code probably only works if jolokiaUrl is in the query params.

The doc here: http://api.jquery.com/jquery.ajax/, indicates the 2nd parameter is probably the only way to discriminate for the `.always()` method.

P

[2016-02-05 14:09] #14 closed, assigned to nobody

[2016-02-05 14:10] kwesterfeld commented on #14
Thanks Stan!

[2016-02-05 16:57] kwesterfeld opened #16 "Reference to window.opener needs a guard against nullity in handling ajax errors"
Refer to code here:

![image](https://cloud.githubusercontent.com/assets/703639/12852934/77a77de2-cbff-11e5-9e50-5b113c18f3b8.png)

the code:

hawtio-jmx.js, line 826:

[code]

Needs a null guard when user is auto-logged out by server.  It is not always the case that window.opener is non-null: https://developer.mozilla.org/en-US/docs/Web/API/Window/opener

[2016-02-06 12:02] kwesterfeld commented on #16
I did some research, and it looks like this was a recent change, hence the reason I didn't see it until a day or so ago.  The commit adding this was on 2/3: 06bcdabc

I will create a PR just adding an if() around window.opener

[2016-02-06 13:35] #16 closed, assigned to nobody

[2016-02-08 16:04] kwesterfeld opened #18 "Allow jolokiaParams service factory to override ajaxError() fn handler"
Allow `jolokiaParams` service to be overridden by `$provide()` delegation, giving consumer the chance
to install their own `ajaxError()` handler to jolokia

[2016-02-08 16:12] #18 closed, assigned to nobody

[2016-02-09 07:20] davsclaus commented on #10
Is there more work to this ticket or can it be closed?

[2016-06-23 18:13] abkieling commented on #10
Is there any work left in this ticket?

[2016-06-23 19:17] gashcrumb commented on #10
Actually no, we decided to ditch this approach, so let's go ahead and close it.

[2016-06-23 19:17] #10 closed, assigned to nobody

[2016-09-03 17:03] abkieling opened #21 "Stop injecting 'workspace' in the hawtio-ui tree component"
The `workspace` resource from hawtio-jmx is being injected in the hawtio-ui tree component with the intention of being notified about node selections. The correct way for hawtio-jmx to be notified about node selections is via the `onSelect` callback.

[2016-09-03 17:06] abkieling commented on #21
I'll try to fix this one.

[2016-11-29 17:40] abkieling opened #22 "Bower warning about the "main" field"
When installing hawtio-jmx using Bower, the following message is printed:

bower hawtio-jmx#~2.0.50                     invalid-meta The "main" field has to contain only 1 file per filetype; found multiple .js files: ["dist/dangle.js","dist/dagre.js","dist/jolokia.js","dist/cubism.v1.js","dist/jolokia-simple.js","dist/jolokia-cubism.js","dist/hawtio-jmx.js"]

Bower expects only one main JavaScript

[2017-05-26 16:20] jbornemann opened #23 "JMX Connection Warning Modal Malformed"
Not sure if this is the appropriate project to log this issue or not, because the CSS interfering may be elsewhere (like hawtio/openshift-jvm)

Modal style is malformed:

<img width="1385" alt="openshift-jvm" src="https://cloud.githubusercontent.com/assets/4540994/26503102/6aa489d4-420d-11e7-90be-a524664212d2.png">

happens during unauthorized requests..

<img width="1378" alt="openshift-jvm 2" sr

[2017-07-12 13:26] #22 closed, assigned to nobody

[2017-07-13 11:07] astefanutti commented on #21
Should be fixed by now.

[2017-07-13 11:07] #21 closed, assigned to nobody

[2017-09-12 06:13] tadayosi opened #24 "JVM plugin - Connect redirects to root context '/?con=<name>'"
It causes `404` error (or something else) when hawtio is deployed on other than the root context (e.g. `/hawtio`).

[2017-09-12 06:15] skarsaune commented on #24
Have not seen this before. Do we have concrete steps to reproduce?

On tir. 12. sep. 2017, 08:13 Tadayoshi Sato <notifications@github.com>
wrote:

[2017-09-12 06:18] skarsaune commented on #24
Ah, this is 2.0? The danger when replying from my phone on the train.
Sorry, disregard my comment.

On tir. 12. sep. 2017, 08:15 Martin Skarsaune <martin@skarsaune.net> wrote:

[2017-09-12 06:19] tadayosi commented on #24
You can see this by running `hawtio-app-2.0-SNAPSHOT.jar` and trying to connect to another Jolokia endpoint. You'll then see `HTTP ERROR 404`.

[2017-09-12 06:20] tadayosi commented on #24
@skarsaune no worries :-)  Thank you for watching the hawtio issues.

[2017-09-21 05:29] tadayosi opened #25 "JMX plugin - incorrect Jolokia URL in Attribute dialog"
The Jolokia URL shown in Attribute dialog is something like this:

    http://localhost:2772/undefined/read/org.apache.activemq:type=Broker,brokerName=amq-broker,destinationType=Queue,destinationName=TEST/Name

On the other hand, the `Copy Jolokia URL` menu in Operations tab generates the URL correctly:

    http://localhost:2772/proxy/http/localhost/8181/hawtio/jolokia/exec/org.apache.activemq:ty

[2017-09-21 05:32] tadayosi opened #26 "JMX plugin - add 'copy Jolokia URL to clipboard' button in Attribute dialog"
Attribute dialog already has the `Copy value to clipboard` button. I'd like to have `Copy Jolokia URL to clipboard` button in the dialog as well.

[2017-09-21 05:34] tadayosi commented on #24
For the record: https://issues.jboss.org/browse/ENTESB-7274

[2017-09-21 05:34] tadayosi commented on #25
https://issues.jboss.org/browse/ENTESB-7295

[2017-09-22 03:03] #25 closed, assigned to nobody

[2017-11-02 06:16] tadayosi opened #27 "JMX plugin - Title doesn't show up when immediately coming from other plugin"
Normally we can see the title `About`.
![screen shot 2017-11-02 at 15 12 05](https://user-images.githubusercontent.com/156692/32312265-50ab205a-bfe0-11e7-9618-c84a7ee316b7.png)

But coming from other plugin, e.g. `Threads`, `About` doesn't show up. It reappears just by clicking around the JMX tree in the sidebar.
![screen shot 2017-11-02 at 15 12 38](https://user-images.githubusercontent.com/15669

[2017-11-22 06:24] tadayosi opened #28 "Port optimized Jolokia list call to hawtio-jmx"
Let's port [these](https://github.com/hawtio/hawtio/compare/f04ef920714890aa547af61be62c01aeeffc5e27%5E...344e736e2cdbef82c8505d7c5eead47b21971b5f) to hawtio-jmx. See also hawtio/hawtio#2097.

[2017-11-24 02:53] #28 closed, assigned to tadayosi

[2017-12-05 02:02] tadayosi opened #30 "JMX plugin - JMX tree not visible initially after page reload"
After my work on RBAC support, now the JMX tree is not visible immediately after reloading the page. Moving tabs around you can still see the JMX tree showing up.

[2017-12-05 11:18] jamesnetherton opened #31 "Login dialog - excessive invocation of checkCredentials function"
On the login dialog, the password field `ng-change` binds to `checkCredentials()`. This means for every character entered, a request is sent to the target Jolokia instance. If a long password is entered, this results in many requests being sent in a potentially very short period of time.

Maybe it's best to just call `checkCredentials` when the login button is clicked.

[2017-12-06 00:53] tadayosi commented on #31
I believe @akieling can explain this.

[2017-12-06 12:05] abkieling commented on #31
@jamesnetherton @tadayosi @astefanutti
This is not a bug but it's something that could be improved. If I invoke `checkCredentials()` when the user clicks on the Connect button then the browser blocks the `window.open()` call. The code in the Promise `then` function doesn't seem to be in the same context as the code invoked when the button is clicked. To avoid that, I check the credentials when the

[2017-12-06 15:08] jamesnetherton commented on #31
Yes, the warnings output to the console log aren't great. When there have been lots of keystrokes, it almost looks like someone's been trying a brute force password hack! For WildFly / EAP I see 2 log entries per typed character.

I still think we should avoid making network calls on every keystroke if we can.

[2017-12-08 01:28] abkieling commented on #31
@jamesnetherton I've made some changes. Please test and let me know what you think.

[2017-12-08 08:37] tadayosi commented on #24
Already fixed in the recent codebase.

[2017-12-08 08:37] #24 closed, assigned to nobody

[2017-12-08 15:05] jamesnetherton commented on #31
It works (sort of). But the browser login dialog seems to have made a return:

![hawtio-login](https://user-images.githubusercontent.com/4721408/33771512-24b1f34c-dc29-11e7-9a2e-eb8b968d5c55.png)

[2017-12-08 15:09] abkieling commented on #31
Please make sure you have the latest version of @hawtio/node-backend (3.0.4). Besides, when you run an angularjs app (hawtio-jmx, hawtio-integration, ...) without the hawtio server-side stuff, there is no login page, so we have to use the browser popup in those cases.

[2017-12-08 15:19] jamesnetherton commented on #31
Ok... retested. Looks much better. Thanks!

[2017-12-08 15:19] #31 closed, assigned to nobody

[2017-12-12 10:10] skarsaune opened #32 "Add support for front end tests in build"
I would like to include some regression tests, preferrably in typescript. Could someone experienced with front end set it up, or advise on how to best do it?
Cheers!

[2017-12-18 03:29] tadayosi commented on #32
I totally agree that hawtio v2 should have some test suite.

@akieling @astefanutti Do you guys have any ideas?  Should we use Karma, Jasmine, Protractor, or anything else?

[2017-12-18 09:11] astefanutti commented on #32
That'd be awesome to have some tests to catch regressions. We have experienced Karma and Jasmine on other projects and that seems to do the job.

[2017-12-18 11:46] abkieling commented on #32
Karma is great to run unit tests. It's used in @hawtio/core and we should set it up on other repositories as well. Protractor is good to run e2e tests (UI driven tests) using Selenium/WebDriver but since the release of [headless](https://developers.google.com/web/updates/2017/04/headless-chrome) Chrome and the [Puppeteer](https://github.com/GoogleChrome/puppeteer) library, I've seen some people mo

[2017-12-22 12:50] abkieling opened #34 "Improve Diagnostics UI"
Improve Diagnostics UI using [PatternFly](https://www.patternfly.org/) and [Angular PatternFly](https://www.patternfly.org/angular-patternfly/#).

A few things to improve:
- Java Flight Recorder
  - Stop showing the warning alert after the user closes it.
  - What's the information alert for? When you open the page, it doesn't show any valuable information. Would make sense hiding it at that point

[2017-12-22 12:52] abkieling commented on #34
@skarsaune @tadayosi Listed a few UI improvement suggestions for the DIagnostics plugin. Please review the list.

[2017-12-22 13:27] skarsaune commented on #34
Great input. Thanks. I will look into the individual points and get back to you.

[2017-12-23 06:50] tadayosi commented on #34
Sounds great to me.

I believe the JFR tab doesn't show up already when Open JDK is used. Does it?

[2017-12-23 16:09] abkieling commented on #23
@jbornemann I'm sorry for the late reply. Is this issue still happening?

[2017-12-23 16:13] abkieling commented on #34
It shows up on my machine with Open JDK 8 installed.

[2017-12-25 02:54] tadayosi commented on #34
@akieling The current code checks the existentce of `jfrCheck` method on the `com.sun.management:type=DiagnosticCommand` mbean:

    $scope.isJfrEnabled = hasDiagnosticFunction(workspace, 'jfrCheck');
    ...
    export function hasDiagnosticFunction(workspace: Jmx.Workspace, operation: string) {
      const diagnostics: Folder = workspace.findMBeanWithProperties('com.sun.management', {type: 'Diag

[2017-12-25 12:10] skarsaune commented on #34
Busy over Christmas guys(!).
My thinking is this. I totally agree that the user should not have to dismiss any of the notifications more than once, so if we have a solution with local storage that would be great.

The only thing where a warning would be in place (initially) is if the user actively uses hawt.io to unlock commercial options. I would need to check out more JRE and especially the late

[2017-12-26 19:06] skarsaune commented on #34
Have tried a few combinations:
1. Mac OS X version 10.12.6 OpenJDK 1.8 (25.162-b03) by Oracle Corporation : Java Flight Recorder tab does not show
2. Ubuntu 4.4.0-98-generic OpenJDK 9+181 by Oracle Corporation : Java Flight Recorder tab does not show.
3. Ubuntu 4.4.0-98-generic IBM J9 VM 1.8 (2.9) by IBM Corporation : Entire Diagnostics tab does not show.

I will ask the serviceability list about

[2017-12-27 00:23] abkieling commented on #34
~ $ java -version
openjdk version "1.8.0_151"
OpenJDK Runtime Environment (build 1.8.0_151-b12)
OpenJDK 64-Bit Server VM (build 25.151-b12, mixed mode)

On Tue, Dec 26, 2017 at 5:06 PM, Martin Skarsaune <notifications@github.com>
wrote:

--
Alexandre KielingSr. Software Engineer, JBoss FuseRed Hat

[2017-12-29 10:35] skarsaune opened #35 "Various shortcomings in jvm/connect compared to 1.x"
- icons not displayed in 2.x:
   - discover : connect icon is not displayed
   - local : start / stop icons are not displayed
- connect to local discover does not work properly
    - new tab shows the same process, not the one connected to. (similar to https://github.com/hawtio/hawtio/issues/2339)
    - all new connections show in same tab, instead of opening new ones
- local start / stop not refl

[2017-12-29 15:47] #35 closed, assigned to nobody

[2017-12-29 17:24] #27 closed, assigned to nobody

[2017-12-29 17:27] abkieling commented on #30
@tadayosi please ask @astefanutti to help you with this one. He's done most of the latest work on the tree.

[2017-12-31 09:44] skarsaune commented on #34
@akieling : FYI: Starting to work on a PR. Might need some help with some of the points.

[2018-01-02 13:00] abkieling commented on #34
No problem. Get in touch if you need any help.

On Sun, Dec 31, 2017 at 7:44 AM, Martin Skarsaune <notifications@github.com>
wrote:

--
Alexandre KielingSr. Software Engineer, JBoss FuseRed Hat

[2018-01-02 17:53] skarsaune commented on #34
Original input:

A few things to improve:
**Java Flight Recorder**
  -  [x] Stop showing the warning alert after the user closes it. 
  -  [ ] What's the information alert for? When you open the page, it doesn't show any valuable information. Would make sense hiding it at that point? 
  - [ ] Replace use of hawtio-forms with HTML form based on [PatternFly Forms](https://www.patternfly.org/pattern-

[2018-01-02 18:59] #26 closed, assigned to nobody

[2018-01-02 20:30] jbornemann commented on #23
This was fixed in later versions. Thanks @akieling

[2018-01-02 20:30] #23 closed, assigned to nobody

[2018-01-08 15:15] abkieling commented on #34
@skarsaune let's break this issue into multiple issues. I may be able to help you that way.

[2018-01-08 17:08] skarsaune commented on #34
Good idea. I have not gotten to do much on the remaining

[2018-01-08 22:52] #34 closed, assigned to nobody

[2018-01-10 20:15] abkieling commented on #34
@skarsaune I'm doing some refactoring in the Diagnostics plugin on hawtio v2. Please wait until I finish if you plan to do any work.

[2018-01-11 12:03] abkieling commented on #34
@skarsaune Refactoring done. Reorganized the code based on this [Angular 1.x styleguide (TypeScript)](https://github.com/toddmotto/angularjs-styleguide/tree/master/typescript) and added support to disable some features based on the hawtconfig.json file.

[2018-01-11 12:05] abkieling opened #38 "Diagnostics - Class Histogram: use pfTableView with toolbar"
Use the pfTableView with an integrated toolbar.
https://www.patternfly.org/angular-patternfly/#/api/patternfly.table.component:pfTableView%20-%20with%20Toolbar

[2018-01-11 12:07] abkieling opened #39 "Diagnostics - Hotspot Diagnostics: use pfTableView with toolbar"
Use the pfTableView with an integrated toolbar.
https://www.patternfly.org/angular-patternfly/#/api/patternfly.table.component:pfTableView%20-%20with%20Toolbar

[2018-01-11 12:10] abkieling commented on #38
I'm currently working on it.

[2018-01-11 15:50] skarsaune commented on #39
FYI: I have failed to simplify this form a couple of times in the past. The main issue was that all the options can be retrieved as an attribute, but update is done via setVMOption(String, String). Hopefully there is a better solution than I was able to come up with.

[2018-01-11 20:38] #38 closed, assigned to nobody

[2018-01-12 00:00] abkieling commented on #30
@astefanutti I tried to fix this bug a while ago but gave up after a couple of hours. It would be great if you could have a look when you can.

[2018-01-12 06:40] tadayosi opened #40 "Connect plugin - Update Instructions"
Some parts (like that mentioning Fabric8) are outdated.

![screen shot 2018-01-12 at 15 37 44](https://user-images.githubusercontent.com/156692/34862595-a293c510-f7ae-11e7-9f2f-4524dda9f058.png)

[2018-01-12 09:07] astefanutti commented on #30
@akieling sure, let me have a look ASAP.

[2018-01-12 09:15] abkieling commented on #40
I wonder if we should move these instructions to Help and provide a link from the Connect page.

[2018-01-12 09:29] tadayosi commented on #40
Ah, sounds like a plan. I like it. Let's go with it.

But then there's another consideration. If we link some plugin tab pages to their respective help sections, then shouldn't we consider a uniform design to link a page to its respective help (if it exists)?

[2018-01-12 09:48] abkieling commented on #40
Unfortunately, we cannot link to a specific help page because we don't register a route for each one.
It might be better to contact the UX team and ask about best practices around help pages.

[2018-01-13 11:50] skarsaune opened #41 "More intuitive feedback on connecting to other JVM"
Maybe some responsibility falls on hawtio-core or other components, in that case please split the issue as you see fit (if the request seems sensible).

1. Is it possible to show the PID in the page title like in 1.5 ? I think that would be very valuable. Additionally there used to be some preference to use different color labels for different connection patterns? I got the impression that it was

[2018-01-15 02:09] tadayosi commented on #40
OK, let's just focus on updating the text here. An issue at hawtio-core should follow it to make help pages linkable.

[2018-01-15 13:11] abkieling commented on #41
@gashcrumb can you provide some info about the features mentioned above?

[2018-01-16 01:13] tadayosi commented on #40
See also hawtio/hawtio-core#18

[2018-01-17 11:26] abkieling opened #43 "Refactor jolokiaService.ts into multiple files"
Create a jolokia folder and move parts of jolokiaService.ts to separate files.

[2018-01-18 18:02] abkieling commented on #41
@skarsaune About items 1 and 3, I haven't done much work on hawtio v1 and would need to find and understand the code that adds the PID to the page title. Then, we can decide if it's better to reimplement or port the existing code. This issue could be about that.
About item 2, please create a new GitHub issue for it and provide as many details as possible, including steps to reproduce it.
What do y

[2018-01-23 09:25] abkieling commented on #39
Improved the UI using a simple PatternFly table. We can change it to an Angular PatternFly pfTableView if we feel the need to have multiple filters and sorting on all columns.

[2018-01-23 09:25] #39 closed, assigned to nobody

[2018-01-23 09:59] abkieling commented on #30
@astefanutti Did you manage to reproduce this issue?

[2018-01-23 10:01] astefanutti commented on #30
@akieling haven't look at it yet. Will do ASAP.

[2018-01-23 10:05] abkieling commented on #30
@astefanutti I was able to reproduce this issue in the Camel tree but not in the JMX tree.

[2018-01-23 10:06] astefanutti commented on #30
Relates to hawtio/hawtio-integration#50.

[2018-01-23 10:09] astefanutti commented on #30
@akieling I can reproduce with the Camel tree but not the JMX one. @tadayosi could you confirm?

[2018-01-24 04:12] tadayosi commented on #30
I reproduce it with hawtio-jmx using Chrome. Note you need to reload the page after viewing the JMX tab.

<img width="991" alt="screen shot 2018-01-24 at 13 10 21" src="https://user-images.githubusercontent.com/156692/35314215-05344926-0108-11e8-9364-530f60e1f506.png">

[2018-01-25 10:39] #30 closed, assigned to astefanutti

[2018-02-28 16:32] jamesnetherton opened #45 "Error callback is always ignored in JolokiaService"
I've been testing some functionality over in the hawtio-integration project, and I expected to see some error messages being displayed when Jolokia returns an error response. However, this never happens.

I think the syntax defining the success / error callbacks is wrong in each of the JolokiaService methods.  E.g we have:

[code]

The success and error callbacks are within separate objects. I thi

[2018-03-01 01:31] tadayosi commented on #45
I think so, too. In addition, originally we've used `Core.onSuccess(...)` helper function when invoking Jolokia to make sure we get a uniform error handling throughout the codebase. Unless there's any strong objection against using `Core.onSuccess(...)` we should continue to use it here in `JolokiaService` as well.

[2018-03-01 14:08] abkieling commented on #45
@jamesnetherton You are right. The error function should be in the same object as the success function.

Should we define a function for ajaxError as well?

If we use Core.onSuccess(), we'll need to still implement the error function to be able to reject the promise, right?

[2018-03-01 14:12] jamesnetherton commented on #45
@akieling Yes, even with `Core.onSuccess()` we still need to implement the error function. I have a local change that does this, so I can commit it shortly.

[2018-03-01 14:30] #45 closed, assigned to nobody

[2018-03-01 19:50] abkieling opened #46 "Set up unit testing with Karma, Jasmine, and CircleCI 2.0"
https://docs.angularjs.org/guide/unit-testing

[2018-03-01 19:51] abkieling commented on #46
I'm working on it.

[2018-03-02 00:35] #46 closed, assigned to nobody

[2018-03-07 12:12] astefanutti opened #47 "Connect options token is not used anymore"
It breaks hawtio-online integration. Seems related to e9377fd585f0eb6fa3a2a72883db62a5be0dee70.

@tadayosi what's the target integration you recommend? Should that be articulated with the `Core.AuthService`?

[2018-03-07 13:26] astefanutti commented on #47
I've reverted the logic back in 85bcf09ce3c14284de985b1341c9b188eb6fcaaa. Let me know if that's an issue.

[2018-03-07 13:26] #47 closed, assigned to nobody

[2018-03-08 01:18] tadayosi commented on #47
@astefanutti Oops, sorry!  Yes, `AuthService` has the `token` field which you may probably use for that purpose, but atm I don't have strong opinions about whether it should be in `AuthService` or `ConnectOptions`. At least, if hawtio-online requires `token` on `ConnectOptions`, should it be declared on the `ConnectOptions` interface so that we can see it's not ephemeral?

[2018-03-08 12:33] abkieling commented on #47
@astefanutti @tadayosi where do you think is the best place to store the authentication tokens: local storage, session storage, cookies, etc.?
ConnectOptions is stored in local storage and I think AuthService exists only in memory.
I've seen many blog posts suggesting that authentication tokens should be stored in local storage but I've also seen people saying that's not very secure. Maybe using s

[2018-03-08 14:59] astefanutti commented on #47
@tadayosi `ConnectOptions` token is used by the existing OpenShift JVM console and the new Hawtio OpenShift console.

@akieling my understanding is that it's acceptable to store token in the local storage depending on their expiration. With the current integration, session storage is not an option as token is shared between the OpenShift console / Hawtio console and the JVM console windows. Beside

[2018-03-08 15:45] astefanutti commented on #47
One option that I see to remove the `ConnectOptions` token would be to used hawtio-oauth instead as this is done in hawtio 2.x with @tadayosi work.

[2018-03-08 16:57] astefanutti opened #48 "Consider using hawtio-oauth and removing ConnectOptions.token support"
@tadayosi @akieling I wonder whether we should depend on hawtio-oauth directly in hawtio-jmx as it is used in hawtio v2 and hawtio-online. If that is the case, then we may consider removing `ConnectOptions.token` which is redundant.

That follows #47 up. Actually in the OpenShift console, the user stays in the same window and in hawtio-online the token is passed in the URL hash. So we may use the

[2018-03-08 17:48] abkieling commented on #48
Currently, hawtio-oauth is a dependency of hawtio-console-assembly and it makes sense, doesn't it?
Apps that use oauth can depend on hawtio-oauth.
I personally think ConnectOptions shouldn't have the username, password, and token fields. They should be in a different object.
When we open a new window, the username and password are passed to the new window via properties in the parent window. What

[2018-03-08 18:00] astefanutti commented on #48
Apps that use oauth can depend on hawtio-oauth.

For sure, but the question is: as all the apps that depends on hawtio-integration depends on hawtio-oauth, would that make sense to have hawtio-jmx depends on hawtio-oauth to avoid duplications, inconsistencies and enables removing use of `ConnectOptions.token`?

What about page reload? Original question is about `ConnectOptions.token` but we can di

[2018-03-08 18:22] abkieling commented on #48
On Thu, Mar 8, 2018 at 3:00 PM, Antonin Stefanutti <notifications@github.com

I'm not against it. If you guys feel it's a better place to define the
dependency, than do it. We just need to make sure it doesn't cause any
issues to apps that don't use oauth.

That's currently an issue because we aren't storing the credentials in any
persistent storage and I guess we can't access the parent window af

[2018-03-08 18:24] astefanutti commented on #48
dependency, than do it. We just need to make sure it doesn't cause any
issues to apps that don't use oauth.

Hence my question ;) I'm requesting feedback.

persistent storage and I guess we can't access the parent window after a
page reload. Session storage could be a good place to temporarily store the
credentials but storing a password as plain text isn't awesome isn't it?

Hence the original qu

[2018-03-09 04:50] tadayosi commented on #48
Hi guys,

Honestly, I'd feel against the idea of hawtio-jmx depending on hawtio-oauth. Logically speaking, how to authenticate the app (= hawtio-oauth) is orthogonal to what functionalities it provides (= hawtio-jmx & hawtio-integration). To me it is quite straightforward that the assembling projects combine hawtio-oauth and hawtio-jmx & hawtio-integration.

Recently I've made these changes https:

[2018-03-09 09:14] astefanutti commented on #48
@tadayosi thanks a lot, that helps!

I agree. For the time being, _hawtio-integration_ is used as an application in itself in the hawtio-online image. While that's convenient by avoiding creating a dedicated layer / project for it, I guess it will need to diverge any time soon. So I'll create that dedicated layer, similar to https://github.com/hawtio/openshift-jvm, and that will be symmetrical wit

[2018-03-09 09:14] #48 closed, assigned to nobody

[2018-06-11 20:57] #43 closed, assigned to nobody

[2018-06-11 20:59] abkieling commented on #40
I updated the instructions.
https://github.com/hawtio/hawtio-jmx/commit/4ec6d9c97e7f6cacc8e16045d0fb5bc7f295ddce

[2018-06-11 20:59] #40 closed, assigned to nobody

[2018-06-28 12:47] abkieling opened #49 "Log entry modal dialog displays HTML encoded data for message field"
![42033759-d7102b30-7ad5-11e8-92f5-ab18a8e67fca](https://user-images.githubusercontent.com/1910095/42035043-4d0270d2-7ab8-11e8-837a-3874c738e502.png)

[2018-06-28 13:01] abkieling opened #50 "Move hawtio-log to hawtio-jmx"

[2018-06-28 13:05] #49 closed, assigned to nobody

[2018-06-28 13:05] #50 closed, assigned to nobody

[2018-07-09 17:12] abkieling opened #51 "Replace remote connection login dialog box with a full page"
When connecting to a remote endpoint that requires username/password authentication, show a full login page instead of the currently shown dialog box.

[2018-07-10 01:08] tadayosi commented on #51
Interesting. What's the motivation and expected benefits behind this?

[2018-07-10 12:17] abkieling commented on #51
I think showing a login page to authenticate users when connecting to remote servers would improve consistency. Also, it would be important to only start the Jolokia pooling or make any other request to Jolokia after the user is logged in. Currently, the app is initialized before the user authenticates with the remote server. This issue has already been fixed for the login page in the master branc

[2018-07-11 00:55] tadayosi commented on #51
I don't have a strong opinion on it actually. If it solves some technical problems then definitely we should do that. One concern is that IIUC the PatternFly login page requires a different html page like:

    <html class="login-pf">
    ...

so it may introduce a complicated redirect flow to hawtio-jmx. When I worked on the Hawtio login page I found redirecting from the login page to the main pa

[2018-07-11 11:25] abkieling commented on #51
Fair enough. It might be better to do some investigation to check it doesn't complicate things.

[2018-07-11 11:55] skarsaune commented on #51
Be aware that Remote and Discover connect tabs have a pretty complicated way of doing it today, including saving credentials to local storage and picking it up in the new tab based on connection name. So the current scheme requires more than just a visual change I think. Can see when I get the time to give a better account.

[2018-07-11 15:00] abkieling commented on #51
Yep, that code is complicated and it's risky to change it. I'll close this issue to avoid creating problems.

[2018-07-11 15:00] #51 closed, assigned to nobody

[2018-08-02 18:51] alexkieling opened #52 "Attributes table wider than available width"
When selecting the `JMImplementation` node on the JMX tree, the Attributes page shows a table wider than the available width, forcing the user to scroll horizontally to see all the data.

![attributes](https://user-images.githubusercontent.com/1910095/43604300-cc7d4c82-966b-11e8-9773-e8441edeb2f5.png)

[2018-08-03 06:41] skarsaune commented on #52
Had a similar issue with e.g. class path when working on runtime plugin, and tried to solve by limiting column with and forcing breaks: https://github.com/skarsaune/hawtio-jmx/blob/runtime_plugin/plugins/runtime/less/runtime.less

[2018-09-26 10:38] jamesnetherton opened #53 "Connection details dialog allows duplicate names"
I think we should prevent users from adding connections with duplicate names. It can have some weird side affects given that the name is used as the `con` URL parameter when you connect to a JVM.

[2018-10-05 10:01] #53 closed, assigned to jamesnetherton

[2018-11-02 05:47] tadayosi opened #54 "Log - Filtering doesn't seem to work"
Even if I set `Level=ERROR` filtering it still shows INFO level logs:

![screenshot from 2018-11-02 14-44-19](https://user-images.githubusercontent.com/156692/47895855-f8391880-dead-11e8-951a-284bb535102d.png)

Other categories don't work either.

[2018-11-02 09:36] #54 closed, assigned to nobody

[2018-11-09 07:59] abkieling opened #55 "Connect: move Remote instructions to popover"
Move the instructions shown in the Remote page to a popover.
The popover can be shown when the user clicks on a question mark icon located after the page title.

[2018-11-09 09:43] #55 closed, assigned to nobody

[2018-11-19 16:33] jamesnetherton opened #56 "Sort diagnostics class histogram table by bytes column"
From a diagnostics perspective, I think it'd be better to have the class histogram table sorted by the 'Bytes' column instead of the class name.

[2018-11-23 14:33] #56 closed, assigned to jamesnetherton

[2019-01-17 08:47] jamesnetherton opened #57 "Spring Boot runtime metrics card remains in loading state"
To avoid duplicate data being displayed on the Runtime > Metrics page, the Spring Boot metrics card only displays metrics that are relevant to the Spring Boot application.

However, when no such metrics are found, the card remains in the loading state indefinitely.

![screenshot_2019-01-17_08-40-30](https://user-images.githubusercontent.com/4721408/51305761-ab3bfb80-1a33-11e9-8b45-f2fe1ad73d1d.png

[2019-02-15 11:55] #57 closed, assigned to jamesnetherton

[2019-02-27 20:52] abkieling opened #58 "Move code to hawtio-integration"
With the intent of reducing the number of Hawtio projects, move the code from this project to hawtio-integration.

[2019-03-18 15:50] abkieling commented on #58
done

[2019-03-18 15:50] #58 closed, assigned to nobody

[2019-03-18 15:52] #41 closed, assigned to nobody

[2019-03-18 15:53] #32 closed, assigned to nobody